
  //definição inicial das variaveis
  
  //Tamanhos
  $size_full:                 100%;
  $size_half:                 50%;
  $default_text_size:         14px;
  $default_text_size_big:     16px;
  $default_text_size_bigger:  18px;
  $default_text_size_small:   12px;
  $default_text_title_small:  20px;
  $default_text_title_big:    24px;
  $zero_width:                0px;
  $normal_size_box:           10px;
  $title_size_box:            5px;
  $spacing_words:             10px;
  $min_size_box:              5px;
  $def_size_box:              10px;
  $max_size_box:              20px;
  $line_height:               25px;
  $field_height:              25px;
  $combo_height:              30px;
  $line_table_height:         35px; 
  $line_table_height1:        50px;
  $total_size:                1024px;
  $total_size_main:           980px;
  //fontes e valores
  $fonts:               Verdana, Tahona, Arial, Helvetica, sans-serif;
  $fonts_campo:         Consolas,Courier New;
  $columns: 12;


  
  //cores
  $basic_color:         #dce3ed;
  $second_color_white:  #ffffff;
  $panel_backcolor:     #dcdcdc; //gainsboro;
  $gray_color_font:     #888888;
  $shadow:              #888888; 
  $menu_font:           #e4f1fb;
  $color_one :          #333333;
  $color_two :          #3baae3;
  $color_three :        #0070a3;
  $color_four :         #fff3dc;
  $color_five:          #f5f5f5; //whitesmoke
  $color_six:           #B0C4DE; //lightsteelblue
  $color_seven:         #c2c1c1;
  $color_eight :        #F0F8FF;
  $color_nine :         #FAFBFF;
  $color_ten :          #132749;
  $color_eleven :       #4d749f;
  $color_winTitle1:     #FAFBFF;
  $color_winTitle2:     #F0F8FF;
  $color_gradient1 :    #333399;
  $color_gradient2 :    #4d749f;
  $color_button    :    #B0C4DE;
  $font_basic_color:    #000000;
  $color_font_menubar:  #d1d3d6;
  $grid_font_color:     Midnightblue; 
  $grid_font_color_sel: red; 
  $title_color:         #205081; 
  
