@import "var_defs_default";
@import "mixins";
@import "reset";  

/* All Site */
#divPrincipal 
{
    font-family: $fonts;
    width: $total_size;
    @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
    @include box_sizing;
    padding:  $zero_width;
    margin:0 auto;
}

#divFundo
{
	opacity:0.9; 
	background:#888; 
	position:absolute; 
	top: $zero_width; 
	left: $zero_width; 
	width:100%; 
	height:200%; 
	z-index:100;
}

.container-master
{
  font-family: $fonts;
  font-size: $default_text_size;
  width: $total_size_main;
  margin:0 auto;
  padding: $zero_width; 
  @include box_sizing;
  display: flexbox;
}

.container-row
{
  width: $total_size_main;
  margin:0 auto;
  padding: 2px;
  @include box_sizing;
  display: flexbox;

}

@include get_grids($total_size_main, 3); 
@include get_grids($total_size_main, 2); 
@include get_grids($total_size_main, 1); 
@include col-x-list($total_size_main);


.col-form-left 
{
  width: 300px;
  display: table-cell; 
  @include center_text(30px, 30px)
}

.col-form-right 
{
  width: 600px;
  display: table-cell; 
  @include center_text(40px, 40px)

}

.Titulo
{
  font-family: $fonts;
  font-size: $default_text_title_big;
  font-weight:500;
  width: $total_size_main;
  @include center_text(50px,50px);  
  text-align: center;
}
.SubTitulo
{
  font-family: $fonts;
  font-size: $default_text_title_small;
  font-weight:500;
  width: $total_size_main;
  @include center_text(50px,50px);  
  text-align: center;
}
.Texto
{
  font-family: $fonts;
  font-size: $default_text_size;
  line-height: $default_text_title_big;
  width: $total_size_main;
  text-align: justify;
}
.CellGridTop
{
	padding: 2px;
	margin: 0 auto;
	width: 980px;
	font-size: 16px; 
    /*Gradiente*/
	font-weight: bold;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
    @include gradient($color_two, $color_three, $color_five);
	//@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($title_size_box, $title_size_box, $zero_width, $zero_width);
	border: 1px solid lightsteelblue;
}

.CellGridContent
{
	padding: 2px;
	margin: 0 auto;
	width: 980px; 
    /*Gradiente*/
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($zero_width, $zero_width, $title_size_box, $title_size_box);
	border: 1px solid lightsteelblue;
}


.menuContent
{
	padding: 2px;
	margin: 0 auto;
	width: 980px; 
    /*Gradiente*/
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($zero_width, $zero_width, $zero_width, $zero_width);
	border: 1px solid lightsteelblue;
}

.CellGridContentForm
{
	padding: 2px;
	margin: 0 auto;
	//width: 980px; 
    /*Gradiente*/
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
	border: 1px solid lightsteelblue;
}

.Header
{
	font-size: $default_text_size_small;
	font-weight:bolder;
	height: $line_height;
	line-height: $line_height;
	vertical-align: middle;
    @include gradient($color_six, $color_nine, $grid_font_color);
    background-position: center center;
    background-repeat: repeat-x;
	border: 1px solid lightsteelblue;
        &:Hover
        {
	        opacity: 0.5;
            cursor:pointer;
            background-position: center center;
            background-repeat: repeat-x;
        }

}

.label1
{
  font-size: $default_text_size_small;
  font-weight: bold;
  font-family: $fonts;
}

.button1
{
  font-family: $fonts_campo;
  background-color: $color_button;
  font-size: $default_text_size_big;
  border: 1px solid midnightblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $combo_height;
}
.campo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size_big;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $field_height;
}

.memo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  border: 2px solid $shadow;
  font-size: $default_text_size_small;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  @include center_text(120px,20px);
}

.combo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size_big;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $combo_height;
}

.linhaTabelaButton 
{
   @include center_text(50px,50px);
} 

.linhaTabela 
{
  height: 50px;
}

.list-box
 {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $field_height;
}

.memo:hover, .campo:hover , .combo:hover {
  background-color: #F0F8FF;
}

.rodape-bar 
{
  font-family: $fonts;
  font-size: 11px;
  @include gradient($color_two, $color_three, $second_color_white);
  @include center_text(40px,40px);
  text-align: center;
  cursor: default;
  text-decoration: none;
  A {
    @extend .inherit_font;
    &:hover {
      text-decoration: underline;
    }
  }
}


.linha_par
{
	font-size: $default_text_size_small;
	background-color: $color_eight;
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	border: 1px solid $color_six;
	color:$grid_font_color;
        &:Hover
        {
	        color: $grid_font_color_sel;
	        cursor: pointer;
	        background-color: $panel_backcolor;
        }
}

.linha_impar
{
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	font-size: $default_text_size_small;
	background-color: $color_nine;
	border: 1px solid $color_six;
	color:$grid_font_color;
        &:Hover
        {
	        color:$grid_font_color_sel;
	        cursor:pointer;
	        background-color: $panel_backcolor;
        }
}

.linha_master
{
	font-size: $default_text_size_small;
    //@include gradient($color_eight, $color_nine, $font_basic_color);
    //@include gradient($color_ten, $color_eleven, $second_color_white);
    background-color:$color_ten;
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	border: 1px solid $color_six;
	color:$second_color_white;
        :Hover
        {
	        color:$second_color_white;
	        cursor:pointer;
            opacity: 0.5;
	        //background-color: $panel_backcolor;
        }
}


/* notice */

.notice 
{
    position: relative;
    width: 324px;
}

.notice .close 
{
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 18px;
    height: 17px;
    text-indent: -9999px;
    background: url(../imagens/purrClose.png) no-repeat 0 10px;
}

.notice-body 
{
    min-height: 50px;
    padding: 22px 22px 0 22px;
    background: url(../imagens/purrTop.png) no-repeat left top;
    color: #f9f9f9;
}

.notice-body img 
{
    width: 50px;
    margin: 0 10px 0 0;
    float: left;
}

.notice-body h3 
{
    margin: 0;
    font-size: 1.1em;
}

.notice-body p 
{
    margin: 5px 0 0 60px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.notice-bottom 
{
    height: 22px;
    background: url(../imagens/purrBottom.png) no-repeat left top;
}
ul 
{
    margin-left: 50px;
    list-style: square ;
}