/*style reset*/
/*
Sass Reset - Converted by Hampton Catlin
A modification of the original found at...
http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, object, iframe, h1, h2, h3, h4,
h5, h6, p, blockquote, pre, a, abbr, acronym, address,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strong, sub, sup, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* All Site */
.inherit_font, .menu-bar
A, .rodape-bar A, .tableItemMenu
A, .tableItemMenu1
A {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit; }

.margin_center, table.tableMainSite th, td, table.tableMainSite, table.tableFaleConosco th, table.tableFaleConosco, .divFaleConosco, table.tablegradiente, .gradiente, .BoxPrata, .BoxPrataThumbs, .BoxPopUp {
  margin: 0 auto; }

.bordaCell {
  border: 2px solid  #888;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #000000; }

.bordaCellHead {
  border: 2px solid  #888;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000; }

#divFundo {
  opacity: 0.9;
  filter: alpha(opacity=90);
  background: black;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1600px;
  height: 1600px;
  z-index: 100; }

#divTextoCenter {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
  position: absolute;
  width: 350px;
  height: 130px;
  left: 40%;
  top: 400px;
  margin-left: -120px;
  margin-top: -150px;
  padding: 50px;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #000000;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  z-index: 101; }

.Titulo {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 500;
  width: 1024px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center; }

.Caption {
  padding: 2px;
  margin: 0 auto;
  width: 1024px;
  font-size: 16px;
  /*Gradiente*/
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
  color: #000000;
  background-color: #FAFBFF;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFF', endColorstr='#F0F8FF');
  background: -moz-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -webkit-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -o-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -ms-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /* default */
  background: linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid lightsteelblue; }

.CellGrid {
  padding: 2px;
  margin: 0 auto;
  width: 1024px;
  /*Gradiente*/
  color: #000000;
  background-color: #FAFBFF;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFF', endColorstr='#F0F8FF');
  background: -moz-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -webkit-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -o-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -ms-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /* default */
  background: linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid lightsteelblue; }

.CellGridTop {
  padding: 2px;
  margin: 0 auto;
  width: 980px;
  font-size: 16px;
  /*Gradiente*/
  font-weight: bold;
  line-height: 35px;
  height: 35px;
  vertical-align: middle;
  color: #f5f5f5;
  background-color: #3baae3;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baae3', endColorstr='#0070a3');
  background: -moz-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -webkit-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -o-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -ms-linear-gradient(#3baae3, #0070a3, #3baae3);
  /* default */
  background: linear-gradient(#3baae3, #0070a3, #3baae3);
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid lightsteelblue; }

.CellGridContent {
  padding: 2px;
  margin: 0 auto;
  width: 980px;
  /*Gradiente*/
  color: #000000;
  background-color: #FAFBFF;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFBFF', endColorstr='#F0F8FF');
  background: -moz-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -webkit-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -o-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  background: -ms-linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /* default */
  background: linear-gradient(#FAFBFF, #F0F8FF, #FAFBFF);
  /*border radius*/
  -moz-border-top-left-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 0px;
  -o-border-top-right-radius: 0px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid lightsteelblue; }

.linha_par {
  font-size: 12px;
  background-color: #F0F8FF;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #B0C4DE;
  color: Midnightblue; }
  .linha_par:Hover {
    color: red;
    cursor: pointer;
    background-color: #dcdcdc; }

.linha_impar {
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  font-size: 12px;
  background-color: #FAFBFF;
  border: 1px solid #B0C4DE;
  color: Midnightblue; }
  .linha_impar:Hover {
    color: red;
    cursor: pointer;
    background-color: #dcdcdc; }

.linha_master {
  font-size: 12px;
  background-color: #132749;
  line-height: 25px;
  height: 25px;
  vertical-align: middle;
  border: 1px solid #B0C4DE;
  color: #ffffff; }
  .linha_master
:Hover {
    color: #ffffff;
    cursor: pointer;
    opacity: 0.5; }

.Header {
  font-size: 12px;
  font-weight: bolder;
  height: 25px;
  line-height: 25px;
  vertical-align: middle;
  color: Midnightblue;
  background-color: #B0C4DE;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B0C4DE', endColorstr='#FAFBFF');
  background: -moz-linear-gradient(#B0C4DE, #FAFBFF, #B0C4DE);
  background: -webkit-linear-gradient(#B0C4DE, #FAFBFF, #B0C4DE);
  background: -o-linear-gradient(#B0C4DE, #FAFBFF, #B0C4DE);
  background: -ms-linear-gradient(#B0C4DE, #FAFBFF, #B0C4DE);
  /* default */
  background: linear-gradient(#B0C4DE, #FAFBFF, #B0C4DE);
  background-position: center center;
  background-repeat: repeat-x;
  border: 1px solid lightsteelblue; }
  .Header:Hover {
    opacity: 0.5;
    cursor: pointer;
    background-position: center center;
    background-repeat: repeat-x; }

.PageStyle {
  height: 35px;
  border: 1px solid #B0C4DE; }
  .PageStyle a {
    font-size: 14px;
    font-weight: bolder;
    background-color: #FAFBFF;
    padding: 5px 7px;
    text-decoration: none;
    border: 1px solid #B0C4DE;
    color: Midnightblue; }
    .PageStyle a:hover {
      color: red;
      cursor: pointer;
      background-color: #dcdcdc;
      border: 1px solid #B0C4DE; }
  .PageStyle span {
    font-size: 14px;
    font-weight: bolder;
    background-color: #F0F8FF;
    padding: 5px 7px;
    color: red;
    border: 1px solid #B0C4DE; }

tr.PageStyle {
  background: none !important; }
  tr.PageStyle tr {
    background: none !important; }
  tr.PageStyle td {
    height: 35px;
    border: none; }

.GridStyle {
  border-collapse: collapse; }
  .GridStyle tr th {
    padding: 8px;
    border: 1px solid black; }

.GridStyle td {
  padding: 5px; }

.linhaTabela {
  height: 35px;
  line-height: 35px;
  vertical-align: middle; }

.linhaTabelaBotao {
  height: 50px;
  line-height: 50px;
  vertical-align: middle; }

.Alert {
  font-size: 12px;
  font-weight: bold;
  color: Red;
  display: none; }

table.tableMainSite th, td {
  padding: 0px;
  border-spacing: 0px;
  border: 0px; }

table.tableMainSite {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-spacing: 0px;
  width: 1024px;
  background-color: #ffffff;
  padding: 0px;
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box; }

table.tableFaleConosco th {
  padding: 0px;
  border-spacing: 0px;
  border: 0px; }

td {
  padding: 0px;
  border-spacing: 0px;
  border: 0px; }

.corpoPagina {
  width: 1024px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  padding: 0px; }

table.tableFaleConosco {
  border-spacing: 0px;
  width: 984px;
  background-color: transparent;
  padding: 0px; }

.divFaleConosco {
  text-align: justify;
  background: #dcdcdc;
  width: 984px;
  padding: 5px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  vertical-align: top;
  border: 1px solid gray;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #000000;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }

table.tablegradiente {
  border-spacing: 0px;
  /* align (center) */
  padding: 0px;
  width: 942px;
  height: 265px; }

.gradiente {
  width: 952px;
  height: 315px;
  border: 1px solid gray;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #888888;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }

.menu-bar {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #3baae3;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baae3', endColorstr='#0070a3');
  background: -moz-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -webkit-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -o-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -ms-linear-gradient(#3baae3, #0070a3, #3baae3);
  /* default */
  background: linear-gradient(#3baae3, #0070a3, #3baae3);
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  border-spacing: 0px;
  padding: 0px; }
  .menu-bar:hover {
    opacity: 0.5; }

.rodape-bar {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #ffffff;
  background-color: #3baae3;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baae3', endColorstr='#0070a3');
  background: -moz-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -webkit-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -o-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -ms-linear-gradient(#3baae3, #0070a3, #3baae3);
  /* default */
  background: linear-gradient(#3baae3, #0070a3, #3baae3);
  height: auto;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  cursor: default;
  text-decoration: none; }
  .rodape-bar A:hover {
    text-decoration: underline; }

.DivTitle {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #6D808E;
  padding: 5px;
  margin: 5px; }

.DivTitle1 {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding: 5px;
  margin: 5px; }

.DivContentBullet {
  padding: 5px;
  margin: 5px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: justify;
  height: auto;
  line-height: 22px;
  vertical-align: top;
  color: #000000;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }
  .DivContentBullet li {
    list-style-type: disc;
    list-style-position: inside; }

.tdWhite {
  background-color: #ffffff;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }

.DivContent {
  padding: 5px;
  margin: 5px;
  height: auto;
  line-height: 22px;
  vertical-align: top;
  color: #333333;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: justify; }

#slideshow {
  padding: 0;
  margin: 0;
  overflow: hidden; }

.image {
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }

.imageButton:Hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
  color: #000000;
  background-color: #f5f5f5;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#F0F8FF');
  background: -moz-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
  background: -webkit-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
  /* default */
  background: linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
  border: 1px solid lightsteelblue;
  /*border radius*/
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-top-left-radius: 10px;
  -o-border-top-right-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  /* default */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* Safari 5.1+, Chrome 10+ */ }

.BoxPrata {
  width: 300px;
  height: 242px; }

.BoxPrataThumbs {
  width: 450px;
  height: 242px;
  /* align (center) */
  border: 1px solid #c2c1c1;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  color: #000000;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1); }

.tdBoxPrata {
  padding: 10px;
  width: 450px;
  height: 242px;
  vertical-align: top; }

.tdBoxMaster {
  padding: 10px;
  width: 3 14px;
  height: 242px;
  vertical-align: top; }

.spanTitlePrata {
  padding: 10px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: gray; }

.spanTextPrata {
  padding: 10px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333333;
  text-align: justify; }

.divShadow {
  width: 306px;
  height: 217px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888; }

.tdImage {
  padding: 20px;
  width: 3 14px;
  height: 3 14px;
  vertical-align: top; }

.tdRedes {
  padding: 20px;
  width: 3 14px;
  vertical-align: top; }

.spanTitle {
  padding: 5px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #000000; }

.spanText {
  color: #333333;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: justify; }

/* Menu */
.Menu {
  position: absolute;
  padding: 5px;
  margin: 0px 5px -5px 0px;
  width: 300px;
  height: auto;
  color: #f5f5f5;
  background-color: #3baae3;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3baae3', endColorstr='#0070a3');
  background: -moz-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -webkit-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -o-linear-gradient(#3baae3, #0070a3, #3baae3);
  background: -ms-linear-gradient(#3baae3, #0070a3, #3baae3);
  /* default */
  background: linear-gradient(#3baae3, #0070a3, #3baae3);
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  font-size: 12px;
  border: 1px solid #c2c1c1;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  z-index: 100; }

.Item {
  padding: 5px;
  margin: 5px;
  width: 270px;
  height: 18px;
  color: #f5f5f5; }
  .Item A {
    padding: 5px;
    margin: 5px;
    color: #f5f5f5;
    text-decoration: none; }
    .Item A:hover {
      padding: 5px;
      margin: 5px;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold; }
  .Item:hover {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #B0C4DE;
    background: #6C8290;
    /*border radius*/
    -moz-border-top-left-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -o-border-top-left-radius: 5px;
    -o-border-top-right-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    /* default */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border shadow*/
    -moz-box-shadow: 0px 0px 5px #888888;
    -webkit-box-shadow: 0px 0px 5px #888888;
    -o-box-shadow: 0px 0px 5px #888888;
    -ms-box-shadow: 0px 0px 5px #888888;
    /* default */
    box-shadow: 0px 0px 5px #888888; }

.rowImpar {
  height: 50px;
  line-height: 25px;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #f5f5f5;
  text-align: justify;
  width: 780px; }

.rowPar {
  height: 50px;
  line-height: 25px;
  vertical-align: middle;
  padding: 5px;
  margin: 5px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #F0F0F0;
  text-align: justify;
  width: 780px; }

.label {
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif; }

.button {
  font-family: Consolas, Courier New;
  background-color: #B0C4DE;
  font-size: 16px;
  border: 1px solid midnightblue;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  height: 30px; }

.campo {
  font-family: Consolas, Courier New;
  background-color: #ffffff;
  font-size: 16px;
  border: 1px solid lightsteelblue;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  height: 25px; }

.memo {
  font-family: Consolas, Courier New;
  background-color: #ffffff;
  border: 2px solid #888888;
  font-size: 12px;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  height: 120px;
  line-height: 20px;
  vertical-align: middle; }

.combo {
  font-family: Consolas, Courier New;
  background-color: #ffffff;
  font-size: 16px;
  border: 1px solid lightsteelblue;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  height: 30px; }

.list-box {
  font-family: Consolas, Courier New;
  background-color: #ffffff;
  font-size: 14px;
  border: 1px solid lightsteelblue;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  height: 25px; }

.memo:hover, .campo:hover, .combo:hover {
  background-color: #F0F8FF; }

.tableMenu {
  width: 942px;
  background-color: #dcdcdc;
  border: 1px solid #dcdcdc; }

.tableItemMenu {
  width: 234px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
  background-color: #f5f5f5;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dcdcdc');
  background: -moz-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -webkit-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  /* default */
  background: linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .tableItemMenu:Hover {
    opacity: 0.6;
    background-image: -webkit-linear-gradient(#dcdcdc, #f5f5f5, #dcdcdc);
    /* Safari 5.1+, Chrome 10+ */ }

.tableItemMenu1 {
  width: 186px;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #000000;
  background-color: #f5f5f5;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dcdcdc');
  background: -moz-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -webkit-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -o-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  background: -ms-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  /* default */
  background: linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  height: 30px;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none; }
  .tableItemMenu1:Hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #000000;
    background-color: #f5f5f5;
    /*Gradiente*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dcdcdc');
    background: -moz-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
    background: -webkit-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
    background: -o-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
    background: -ms-linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5);
    /* default */
    background: linear-gradient(#f5f5f5, #dcdcdc, #f5f5f5); }

.BoxPopUp {
  width: 800px;
  border: 1px solid #c2c1c1;
  /*box-sizing*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* default */
  box-sizing: border-box;
  /*border radius*/
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-top-left-radius: 5px;
  -o-border-top-right-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  /* default */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /*border shadow*/
  -moz-box-shadow: 0px 0px 5px #888888;
  -webkit-box-shadow: 0px 0px 5px #888888;
  -o-box-shadow: 0px 0px 5px #888888;
  -ms-box-shadow: 0px 0px 5px #888888;
  /* default */
  box-shadow: 0px 0px 5px #888888;
  color: #000000;
  background-color: #c2c1c1;
  /*Gradiente*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2c1c1', endColorstr='#ffffff');
  background: -moz-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -webkit-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -o-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  background: -ms-linear-gradient(#c2c1c1, #ffffff, #c2c1c1);
  /* default */
  background: linear-gradient(#c2c1c1, #ffffff, #c2c1c1); }

.divMenu {
  font-size: 24px;
  font-weight: bold;
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  width: 1024px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  vertical-align: middle; }
  .divMenu:Hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    color: #000000;
    background-color: #f5f5f5;
    /*Gradiente*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#F0F8FF');
    background: -moz-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
    background: -webkit-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
    background: -o-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
    background: -ms-linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
    /* default */
    background: linear-gradient(#f5f5f5, #F0F8FF, #f5f5f5);
    border: 1px solid lightsteelblue;
    /*border radius*/
    -moz-border-top-left-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -o-border-top-left-radius: 10px;
    -o-border-top-right-radius: 10px;
    -o-border-bottom-left-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -ms-border-top-left-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -ms-border-bottom-left-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    /* default */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; }
  .divMenu
A {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none; }

.divMenuItem {
  font-family: Verdana, Tahona, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  width: 1024px;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  text-align: center; }

/* FOR PURR */
#purr-container {
  font-size: 12px;
  position: fixed;
  top: 0;
  right: 0; }

.notice {
  position: relative;
  width: 324px; }

.notice .close {
  position: absolute;
  top: 12px;
  right: 12px;
  display: block;
  width: 18px;
  height: 17px;
  text-indent: -9999px;
  background: url(../imagens/purrClose.png) no-repeat 0 10px; }

.notice-body {
  min-height: 50px;
  padding: 22px 22px 0 22px;
  background: url(../imagens/purrTop.png) no-repeat left top;
  color: #f9f9f9; }

.notice-body img {
  width: 50px;
  margin: 0 10px 0 0;
  float: left; }

.notice-body h3 {
  margin: 0;
  font-size: 1.1em; }

.notice-body p {
  margin: 5px 0 0 60px;
  font-size: 0.8em;
  line-height: 1.4em; }

.notice-bottom {
  height: 22px;
  background: url(../imagens/purrBottom.png) no-repeat left top; }
