.vs/Jack/v14/.suo
Jack.Model/bin/Debug/Jack.Model.pdb
Jack.Model/obj/Debug/Jack.Model.Resources.resources
Jack.Model/obj/Debug/Jack.Model.pdb
Jack.Business/bin/Debug/Jack.Business.dll
Jack.Business/obj/Debug/Jack.Business.dll
Jack.Business/obj/Debug/Jack.Business.pdb
Jack.Business/obj/Debug/Jack.Business.vbprojResolveAssemblyReference.cache
Jack.Extensions/obj/Debug/Jack.Extensions.Resources.resources
*.pdb
Jack.Business/bin/Debug/Jack.Extensions.xml
*.dll
*.pdb
*.dll
Jack.Business/bin/Debug/Jack.Data.xml
Jack.Business/bin/Debug/Jack.Business.xml
Jack.Model/obj/Debug/Jack.Model.vbproj.FileListAbsolute.txt
Jack.Model/bin/Debug/Jack.Model.xml
Jack.Model/obj/Debug/Jack.Model.vbproj.FileListAbsolute.txt
Jack.Model/obj/Debug/Jack.Model.vbproj.FileListAbsolute.txt
*.dll