.vs/Jack/v14/.suo
*.pdb
*.dll
Jack.Model/bin/*
Jack.Model/obj/*
Jack.Business/bin/*
Jack.Business/obj/*
Jack.Data/bin/*
Jack.Data/obj/*
Jack.Presentation/bin/*
Jack.Presentation/obj/*
Jack.Extensions/bin/*
Jack.Extensions/obj/*
