.vs/Jack/v14/.suo
*.pdb
*.dll
Jack.Model/bin/*
Jack.Model/obj/*
Jack.Business/bin/*
Jack.Business/obj/*
Jack.Data/bin/*
Jack.Data/obj/*
Jack.Presentation/bin/*
Jack.Presentation/obj/*
Jack.Extensions/bin/*
Jack.Extensions/obj/*
Jack.Presentation/obj/Debug/Jack.Presentation.vbproj.FileListAbsolute.txt
Jack.Presentation/bin/Jack.Model.xml
Jack.Presentation/bin/Jack.Data.xml
Jack.Model/obj/Debug/Jack.Model.vbproj.FileListAbsolute.txt
Jack.Presentation/bin/Jack.Business.xml
Jack.Model/bin/Debug/Jack.Model.xml
Jack.Extensions/obj/Debug/Jack.Extensions.vbproj.FileListAbsolute.txt
Jack.Data/bin/Debug/Jack.Data.xml
Jack.Data/bin/Debug/Jack.Model.xml
sh.exe.stackdump
.vs
