//programação básica

@mixin get_grids($width, $grid_size)
{
    .col-#{$grid_size} 
    {
      width: ( $width / $grid_size );
      //@extend %float-styles; 
      display:table-cell;
    }
}



%float-styles {
  float: left;
}

@mixin col-x-list ($width)
{
  @for $i from 1 through $columns - 1 {
  .col-#{$i}-m { 
      @extend %float-styles; 
      width: ( $width / $columns );
      }
  }
}



@mixin gradient($color1, $color2, $color_font)
{
  color: $color_font; 
  background-color: $color1;
  /*Gradiente*/
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$color1}', endColorstr='#{$color2}');
 
  @each $browser in moz, webkit, o, ms
  {
    background: -#{$browser}-linear-gradient($color1, $color2, $color1);
  }
  /* default */
  background: linear-gradient($color1, $color2, $color1);
}

@mixin border_radius($width_top_left, $width_top_right, $width_bottom_left, $width_bottom_right)
{
  /*border radius*/

  @each $browser in moz, webkit, o, ms
  {
     -#{$browser}-border-top-left-radius: $width_top_left;
     -#{$browser}-border-top-right-radius: $width_top_right;
     -#{$browser}-border-bottom-left-radius: $width_bottom_left;
     -#{$browser}-border-bottom-right-radius: $width_bottom_right;
  }
  /* default */
     border-top-left-radius: $width_top_left;
     border-top-right-radius: $width_top_right;
     border-bottom-left-radius: $width_bottom_left;
     border-bottom-right-radius: $width_bottom_right;
}
@mixin border_shadow($width_shadow, $color)
{
  /*border shadow*/
  @each $browser in moz, webkit, o, ms
  {
    -#{$browser}-box-shadow: $width_shadow $color;
  }
  /* default */
  box-shadow: $width_shadow $color;
}

@mixin box_sizing($content: border-box)
{
  /*box-sizing*/
  @each $browser in moz, webkit, o, ms
  {
    -#{$browser}-box-sizing: border-box;
  }
  /* default */
  box-sizing: border-box;
}

@mixin header_basic($font_size, $color_font)
{
    font-size: $font_size;
    height:$font_size + 2;
    line-height:$font_size + 2;
    vertical-align: middle;
    text-align:center;
    color: $color_font;
    text-shadow: black 0 -1px 0;
    white-space: nowrap;
}

@mixin opacity($value)
{
    opacity: $value;
    filter: alpha(opacity = $value * 100);
}


@mixin center_text($height, $line_height, $vAlign: middle)
{
  height:$height;
  line-height:$line_height;
  vertical-align: $vAlign;
}

@mixin text_shadow
{
    text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
}

