
@import "var_defs_default";
@import "mixins";
@import "reset";

/* All Site */

.inherit_font
{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: inherit;
}

.margin_center
{
  margin: 0 auto;
}

.bordaCell{
    border: 2px solid  #888;
    font-family: $fonts;
    font-size: $default_text_size;
    font-weight: normal;
    color:$font_basic_color;
}
.bordaCellHead{
    border: 2px solid  #888;
    font-family: $fonts;
    font-size: $default_text_size;
    font-weight: bold;
    color:$font_basic_color;
}

#divFundo 
{
  @include opacity(0.9); 
  background:black; 
  position:absolute; 
  top: 0px; 
  left: 0px; 
  //width:100%; 
  //height:200%; 
  width:1600px; 
  height:1600px; 
  z-index:100; 
}

#divTextoCenter 
{
  font-family: $fonts;
  font-size: 32px;
  text-shadow: rgba(0, 0, 0, 0.5) -1px 0, rgba(0, 0, 0, 0.3) 0 -1px, rgba(255, 255, 255, 0.5) 0 1px, rgba(0, 0, 0, 0.3) -1px -2px;
  position: absolute;
  width: 350px;
  height: 130px;
  left: 40%;
  top: 400px;
  margin-left: -120px;
  margin-top: -150px;
  padding: 50px;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include gradient($color_seven, $second_color_white, $font_basic_color);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  z-index: 101;
}

.Titulo
{
  font-family: $fonts;
  font-size: $default_text_title_big;
  font-weight:500;
  width: 1024px;
  @include center_text(50px,50px);  
  text-align: center;
}

.Caption
{
	padding: 2px;
	margin: 0 auto;
	width: 1024px;
	font-size: 16px; /*Gradiente*/
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	vertical-align: middle;
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
	border: 1px solid lightsteelblue;
}

.CellGrid
{
	padding: 2px;
	margin: 0 auto;
	width: 1024px; /*Gradiente*/
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
	border: 1px solid lightsteelblue;
}
	
.CellGridTop
{
	padding: 2px;
	margin: 0 auto;
	width: 980px;
	font-size: 16px; /*Gradiente*/
	font-weight: bold;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
    @include gradient($color_two, $color_three, $color_five);
	//@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($title_size_box, $title_size_box, $zero_width, $zero_width);
	border: 1px solid lightsteelblue;
}

.CellGridContent
{
	padding: 2px;
	margin: 0 auto;
	width: 980px; /*Gradiente*/
	@include gradient($color_winTitle1, $color_winTitle2, $font_basic_color);
	@include border_radius($zero_width, $zero_width, $title_size_box, $title_size_box);
	border: 1px solid lightsteelblue;
}


.linha_par
{
	font-size: $default_text_size_small;
	background-color: $color_eight;
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	border: 1px solid $color_six;
	color:$grid_font_color;
        &:Hover
        {
	        color: $grid_font_color_sel;
	        cursor: pointer;
	        background-color: $panel_backcolor;
        }
}

.linha_impar
{
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	font-size: $default_text_size_small;
	background-color: $color_nine;
	border: 1px solid $color_six;
	color:$grid_font_color;
        &:Hover
        {
	        color:$grid_font_color_sel;
	        cursor:pointer;
	        background-color: $panel_backcolor;
        }
}

.linha_master
{
	font-size: $default_text_size_small;
    //@include gradient($color_eight, $color_nine, $font_basic_color);
    //@include gradient($color_ten, $color_eleven, $second_color_white);
    background-color:$color_ten;
	line-height: $line_height;
	height: $line_height;
	vertical-align: middle;
	border: 1px solid $color_six;
	color:$second_color_white;
        :Hover
        {
	        color:$second_color_white;
	        cursor:pointer;
            opacity: 0.5;
	        //background-color: $panel_backcolor;
        }
}


.Header
{
	font-size: $default_text_size_small;
	font-weight:bolder;
	height: $line_height;
	line-height: $line_height;
	vertical-align: middle;
	//background-image: url('../imagens/header-columns-bg.gif');
    @include gradient($color_six, $color_nine, $grid_font_color);
    background-position: center center;
    background-repeat: repeat-x;
	border: 1px solid lightsteelblue;
        &:Hover
        {
	        //background-image: url('../Imagens/header-columns-over-bg.gif');
	        opacity: 0.5;
            cursor:pointer;
            background-position: center center;
            background-repeat: repeat-x;
        }

}

.PageStyle 
{
	height:$line_table_height;
	border: 1px solid $color_six;

  a {
	font-size: $default_text_size;
	font-weight:bolder;
    background-color: $color_nine;
    padding: 5px 7px;
    text-decoration: none;
    border: 1px solid $color_six;
    color: $grid_font_color;
    &:hover {
      color: $grid_font_color_sel;
	  cursor: pointer;
	  background-color: $panel_backcolor;
      border: 1px solid $color_six;
    }
  }
  span {
	font-size: $default_text_size;
	font-weight:bolder;
    background-color: $color_eight;
    padding: 5px 7px;
    color: $grid_font_color_sel;
    border: 1px solid $color_six;
  }
}

tr.PageStyle {
  background: none !important;
  tr {
    background: none !important;
  }
  td {
	height:$line_table_height;
    border: none;
  }
}

.GridStyle {
  border-collapse: collapse;
  tr th {
    padding: 8px;
    //color: white;
    border: 1px solid black;
  }
}

.GridStyle td
{
    padding: 5px;
}

.linhaTabela
{
	height: $line_table_height;
	line-height: $line_table_height;
	vertical-align: middle;

}

.linhaTabelaBotao
{
	height: $line_table_height1;
	line-height: $line_table_height1;
	vertical-align: middle;

}


.Alert
{
	font-size: $default_text_size_small;
	font-weight: bold;
	color: Red;
	display: none;
}

table.tableMainSite th, td 
{
  padding:  $zero_width;
  @extend .margin_center;
  border-spacing:  $zero_width;
  border:  $zero_width;
}


table {
  &.tableMainSite 
  {
    font-family: $fonts;
    font-size: 11px;
    border-spacing:  $zero_width;
    width: 1024px;
    @extend .margin_center;
    background-color: $second_color_white;
    padding:  $zero_width;
    @include box_sizing;
  }
  &.tableFaleConosco th 
  {
    padding:  $zero_width;
    @extend .margin_center;
    border-spacing:  $zero_width;
    border:  $zero_width;
  }
}

td 
{
  padding:  $zero_width;
  @extend .margin_center;
  border-spacing:  $zero_width;
  border:  $zero_width;
}

.corpoPagina 
{
  width: 1024px;
  //border: 2px solid SlateGray;
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  @include box_sizing;
  padding:  $zero_width;
}


table.tableFaleConosco 
{
  border-spacing:  $zero_width;
  width: 984px;
  @extend .margin_center;
  background-color: transparent;
  padding:  $zero_width;
}

.divFaleConosco 
{
  text-align: justify;
  background: $panel_backcolor;
  width: 984px;
  @extend .margin_center;
  padding: 5px;
  font-family: $fonts;
  font-size: 12pt;
  vertical-align: top;
  border: 1px solid gray;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include gradient($color_seven, $second_color_white, $font_basic_color);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
}

table.tablegradiente 
{
  border-spacing:  $zero_width;
  @extend .margin_center;
  /* align (center) */
  padding:  $zero_width;
  width: 942px;
  height: 265px;
}

.gradiente 
{
  width: 952px;
  height: 315px;
  @extend .margin_center;
  border: 1px solid gray;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include gradient($color_seven, $second_color_white, $gray_color_font);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
}

.menu-bar 
{
  font-family: $fonts;
  font-size: $default_text_size;
  @include gradient($color_two, $color_three, $second_color_white);
  @include center_text(36px,36px);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  @include box_sizing;
  border-spacing:  $zero_width;
  padding:  $zero_width;
  A 
  {
    @extend .inherit_font;  
  }
  &:hover 
  {
    opacity: 0.5;
  }
}

.rodape-bar 
{
  font-family: $fonts;
  font-size: 11px;
  @include gradient($color_two, $color_three, $second_color_white);
  @include center_text(auto,20px);
  text-align: center;
  cursor: default;
  text-decoration: none;
  A {
    @extend .inherit_font;
    &:hover {
      text-decoration: underline;
    }
  }
}

.DivTitle {
  font-family: $fonts;
  font-size: 20px;
  font-weight: bold;
  color: #6D808E;
  padding: 5px;
  margin: 5px;
}

.DivTitle1 {
  font-family: $fonts;
  font-size: $default_text_size_big;
  font-weight: bold;
  color: $color_one;
  padding: 5px;
  margin: 5px;
}

.DivContentBullet {
  padding: 5px;
  margin: 5px;
  font-family: $fonts;
  font-size: $default_text_size;
  text-align: justify;
  @include center_text(auto,22px, top);
  @include gradient($color_seven, $second_color_white, $font_basic_color);
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
    li {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.tdWhite {
  background-color: $second_color_white;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
}

.DivContent {
  padding: 5px;
  margin: 5px;
  @include center_text(auto,22px, top);
  color: $color_one;
  font-family: $fonts;
  font-size: $default_text_size;
  text-align: justify;
}

#slideshow {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.image {
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
}

.imageButton
{
 &:Hover {
    @include opacity(0.6);
    @include gradient($color_five, $color_winTitle2, $font_basic_color);
    border: 1px solid lightsteelblue;
    @include border_radius($def_size_box, $def_size_box, $def_size_box, $def_size_box);
    /* Safari 5.1+, Chrome 10+ */
  }
}
.BoxPrata {
  width: 300px;
  height: 242px;
  @extend .margin_center;
}

.BoxPrataThumbs {
  width: 450px;
  height: 242px;
  @extend .margin_center;
  /* align (center) */
  border: 1px solid $color_seven;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  @include gradient($color_seven, $second_color_white, $font_basic_color);
}

.tdBoxPrata {
  padding: 10px;
  width: 450px;
  height: 242px;
  vertical-align: top;
}

.tdBoxMaster {
  padding: 10px;
  width: 3$default_text_size;
  height: 242px;
  vertical-align: top;
}

.spanTitlePrata {
  padding: 10px;
  font-family: $fonts;
  font-size: $default_text_size_big;
  color: gray;
}

.spanTextPrata {
  padding: 10px;
  font-family: $fonts;
  font-size: 13px;
  color: $color_one;
  text-align: justify;
}

.divShadow {
  width: 306px;
  height: 217px;
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
}

.tdImage {
  padding: 20px;
  width: 3$default_text_size;
  height: 3$default_text_size;
  vertical-align: top;
}

.tdRedes {
  padding: 20px;
  width: 3$default_text_size;
  vertical-align: top;
}

.spanTitle {
  padding: 5px;
  font-family: $fonts;
  font-weight: 600;
  font-size: $default_text_size_big;
  color: $font_basic_color;
}

.spanText {
  color: $color_one;
  font-family: $fonts;
  font-size: $default_text_size;
  text-align: justify;
}

/* Menu */

.Menu {
  position: absolute;
  padding: 5px;
  margin: $zero_width 5px -5px $zero_width;
  width: 300px;
  height: auto;
  @include gradient($color_two, $color_three, $color_five);
  @include box_sizing;
  font-size: $default_text_size_small;
  border: 1px solid $color_seven;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);  
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  z-index: 100;
}

.Item {
  padding: 5px;
  margin: 5px;
  width: 270px;
  height: $default_text_size_bigger;
  color: $color_five;
  A {
    padding: 5px;
    margin: 5px;
    color: $color_five;
    text-decoration: none;
    &:hover {
      padding: 5px;
      margin: 5px;
      color: $second_color_white;
      text-decoration: none;
      font-weight: bold;
    }
  }
  &:hover {
    color: $second_color_white;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid $color_six;
    background: #6C8290;
    @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);  
    @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  }
}

.rowImpar {
  @include center_text(50px,$line_height);
  padding: 5px;
  margin: 5px;
  font-family: $fonts;
  font-size: $default_text_size;
  color: $font_basic_color;
  background-color: $color_five;
  text-align: justify;
  width: 780px;
}

.rowPar {
  @include center_text(50px,$line_height);
  padding: 5px;
  margin: 5px;
  font-family: $fonts;
  font-size: $default_text_size;
  color: $font_basic_color;
  background-color: #F0F0F0;
  text-align: justify;
  width: 780px;
}
 
.label
{
  font-size: $default_text_size_small;
  font-weight: bold;
  font-family: $fonts;
}

.button
{
  font-family: $fonts_campo;
  background-color: $color_button;
  font-size: $default_text_size_big;
  border: 1px solid midnightblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $combo_height;
}
.campo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size_big;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $field_height;
}

.memo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  border: 2px solid $shadow;
  font-size: $default_text_size_small;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  @include center_text(120px,20px);
}

.combo {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size_big;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $combo_height;
}

.list-box {
  font-family: $fonts_campo;
  background-color: $second_color_white;
  font-size: $default_text_size;
  border: 1px solid lightsteelblue;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  padding: 2px;
  height: $field_height;
}

.memo:hover, .campo:hover , .combo:hover {
  background-color: #F0F8FF;
}

.tableMenu {
  width: 942px;
  background-color: $panel_backcolor;
  border: 1px solid $panel_backcolor;
}

.tableItemMenu {
  width: 234px;
  font-family: $fonts;
  font-size: $default_text_size_small;
  @include gradient($color_five, $panel_backcolor, $font_basic_color);
  @include box_sizing;
  @include center_text(36px,36px);
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  &:Hover {
    opacity: 0.6;
    background-image: -webkit-linear-gradient($panel_backcolor, $color_five, $panel_backcolor);
    /* Safari 5.1+, Chrome 10+ */
  }
  A 
  {
  @extend .inherit_font;
  }
}

.tableItemMenu1 {
  width: 186px;
  font-family: $fonts;
  font-size: 11px;
  @include gradient($color_five, $panel_backcolor, $font_basic_color);
  @include box_sizing;
  @include center_text(30px,15px);  
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  &:Hover {
    @include opacity(0.6);
    @include gradient($color_five, $panel_backcolor, $font_basic_color);
  }
  A 
  {
    @extend .inherit_font;  
  }
}

.BoxPopUp {
  width: 800px;
  @extend .margin_center;
  border: 1px solid $color_seven;
  @include box_sizing;
  @include border_radius($title_size_box, $title_size_box, $title_size_box, $title_size_box);
  @include border_shadow($zero_width $zero_width $min_size_box, $shadow);
  @include gradient($color_seven, $second_color_white, $font_basic_color);
}

.divMenu
{
  font-size: $default_text_title_big;
  font-weight: bold;
  font-family: $fonts;
  width: 1024px;
  text-align:center;
  @include center_text(50px,50px);  
  &:Hover {
    @include opacity(0.6);
    @include gradient($color_five, $color_winTitle2, $font_basic_color);
    border: 1px solid lightsteelblue;
    @include border_radius($def_size_box, $def_size_box, $def_size_box, $def_size_box);
  }
  A 
  {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration:none;
  }
}

.divMenuItem
{
  font-family: $fonts;
  font-size: $default_text_title_small;
  font-weight:500;
  width: 1024px;
  @include center_text(50px,50px);  
  text-align: center;
 }


/* FOR PURR */
#purr-container 
{
    font-size: $default_text_size_small;
	position: fixed;
	top: 0;
	right: 0;
}

.notice 
{
    position: relative;
    width: 324px;
}

.notice .close 
{
    position: absolute;
    top: 12px;
    right: 12px;
    display: block;
    width: 18px;
    height: 17px;
    text-indent: -9999px;
    background: url(../imagens/purrClose.png) no-repeat 0 10px;
}

.notice-body 
{
    min-height: 50px;
    padding: 22px 22px 0 22px;
    background: url(../imagens/purrTop.png) no-repeat left top;
    color: #f9f9f9;
}

.notice-body img 
{
    width: 50px;
    margin: 0 10px 0 0;
    float: left;
}

.notice-body h3 
{
    margin: 0;
    font-size: 1.1em;
}

.notice-body p 
{
    margin: 5px 0 0 60px;
    font-size: 0.8em;
    line-height: 1.4em;
}

.notice-bottom 
{
    height: 22px;
    background: url(../imagens/purrBottom.png) no-repeat left top;
}

