
@{
    ViewBag.Title = "SeiLa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teste</h2>


<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <select id="selEstados" multiple="multiple" style="width: 80%;">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
                <option value="CA">California</option>
                <option value="WS">Washington</option>
                <option value="TX">Texas</option>
                <option value="NM">New Mexico</option>
            </select>
        </div>
        <div class="col-md-6">
            <select id="selEstadosDDL" style="width: 80%;">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
                <option value="CA">California</option>
                <option value="WS">Washington</option>
                <option value="TX">Texas</option>
                <option value="NM">New Mexico</option>
            </select>
        </div>
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-default" id="btnVer">Ver</button>
    </div>
</div>

    @section HeadJavascript
{
        <script type="text/javascript">
            $(function ()
            {
                $.fn.select2.defaults.set("theme", "classic");
                $(".js-example-basic-multiple").select2();
                $("#selEstados").select2();
                $("#selEstadosDDL").select2();

                $("#btnVer").click(function ()
                {
                    alert($("#selEstados").val());
                });
            })

        </script>
    }
