<div>
    <h3 class="text">SACOLINHA DE NATAL</h3>
    <div>
        <small>
            Pedimos sua colaboração para que possamos proporcionar um Natal Feliz às Crianças assistidas por esta instituição.
        </small><br />
        <small>
            Solicitamos, que todos os presentes sejam novos (sem uso), inclusive o Brinquedo.
        </small>
    </div>
</div>
