<div>
    <h4 class="text">SACOLINHA DE NATAL</h4>
    <div>
        <small>
            Pedimos sua colaboração para que possamos proporcionar um Natal Feliz às Crianças assistidas por esta instituição.
            Solicitamos, que todos os presentes sejam novos (sem uso), inclusive o Brinquedo.
        </small>
    </div>
</div>
