<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">&nbsp;</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Sacolas<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="@Url.Action("Index","Familia")">Famílias</a></li>
                        <li><a href="@Url.Action("Index","Crianca")">Crianças</a></li>
                        <li><a href="">Altera Dados Crianças</a></li>
                        <li><a href="">Cadastro Presenças</a></li>
                        <li><a href="">Representantes</a></li>
                        <li><a href="">Sacolas do Colaborador</a></li>
                        <li><a href="">Consulta Sacolas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Presenças Famílias</a></li>
                        <li><a href="">Presenças Reuniões</a></li>
                        <li><a href="">Menu item</a></li>
                        <li><a href="">Menu item</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Colaborador</a></li>
                        <li><a href="">Reunião</a></li>
                        <li><a href="">Famílias Fake</a></li>
                        <li><a href="">Famílias Black List</a></li>
                        <li><a href="">Famílias Presença Justificada</a></li>
                        <li><a href="">Kits</a></li>
                        <li><a href="">Itens dos Kits</a></li>
                        <li><a href="@Url.Action("Index", "TipoItem")">Tipos de Itens</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Outros<span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="">Feriados</a></li>
                        <li><a href="">Calçado</a></li>
                        <li><a href="">Roupa</a></li>
                        <li><a href="">Status</a></li>
                        <li><a href="">Nível</a></li>
                        <li><a href="">Parâmetros do Sistema</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="#" style="display:none;">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>