<!DOCTYPE html>
<html ng-app>
@model TesteBasicMVC.Models.BancosList
@{
    ViewBag.Title = "Lista";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Lista.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/Scripts/AngularJS.js")

    <script type="text/javascript">
        function BancoController($scope)
        {
            $scope.itens = @Html.Raw(Json.Encode(Model.Banco));

            
            $scope.Edit = function (itemDados) 
            {
                frmBanco.txtNumero.value = itemDados.id_banco
                frmBanco.txtBanco.value = itemDados.ds_nome
                frmBanco.txtBancoRed.value = itemDados.ds_nome_reduzido
            }

        }
    </script>
</head>
<body>
    <div class="page-header">
        <h1>Lista de Bancos</h1>
    </div>
    <div ng-controller="BancoController" class="container">
        <form id="frmBanco">
            <table class="table table-striped" style="width:980px">
                <tr>
                    <th style="width:80px">Núm.</th>
                    <th style="width:450px">Nome</th>
                    <th style="width:250px">Nome Red.</th>
                    <th style="width:200px">&nbsp;</th>
               </tr>
                <tr>
                    <td><input type="text" id="txtNumero" style="width:70px" class="form-control" /></td>
                    <td><input type="text" id="txtBanco" style="width:440px" class="form-control" /></td>
                    <td><input type="text" id="txtBancoRed" style="width:240px" class="form-control" /></td>
                    <td>
                        <div>
                            <button class="btn btn-primary" ng-click="Save(item)">Save</button>
                            <button class="btn btn-primary" ng-click="Clear(item)">Clear</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        <table class="table table-striped" style="width:980px" >
            <tr>
                <th style="width:80px">Núm.</th>
                <th style="width:500px">Nome</th>
                <th style="width:200px">Nome Red.</th>
                <th style="width:200px">&nbsp;</th>
            </tr>
            <tr ng-repeat="item in itens">
                <td>{{ item.id_banco }}</td>
                <td>{{ item.ds_nome }}</td>
                <td>{{ item.ds_nome_reduzido }}</td>
                <td>
                    <button class="btn btn-primary" ng-click="Edit(item)">Edit</button>
                    <button class="btn btn-primary" ng-click="Delete(item)">Delete</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>