
@{
    ViewBag.Title = "Chamada";
    Layout = "~/Views/SharedFolder/_JackLayoutPage.cshtml";
}
@System.Web.Optimization.Scripts.Render("~/bundles/Angular")
@System.Web.Optimization.Scripts.Render("~/bundles/reuniao")
@System.Web.Optimization.Scripts.Render("~/bundles/util")
@System.Web.Optimization.Scripts.Render("~/bundles/chamada")

<div ng-controller="ngChamadaController">
    <div class="Titulo">Cadastro de Presença</div>
    <div style="width:980px; margin: 0 auto;">
        <div id="divForm" class="container-form">
            <div class="SubTitulo">Pesquisa</div>
            <div style="display:table-row;" class="form-group">
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:right;width:120px;"><label class="control-label" id="labelAno" for="ddlAno">Ano Corrente:</label></span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:left;">
                    <select id="ddlAno" style="width:100px;height:30px; border-radius: 5px;" ng-change="LoadDatas(item.Ano)" ng-model="item.Ano">
                        <option ng-repeat="option in Anos" value="{{option.Value}}">
                            {{option.Descricao}}
                        </option>
                    </select>
                </span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:right;width:140px;"><label class="control-label" id="labelReuniao" for="ddlReuniao">Data da Reunião:</label></span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:left;">
                    <select id="ddlReuniao" style="width:200px;height:30px; border-radius: 5px;" ng-change="LoadReuniao(item.Reuniao)" ng-model="item.Reuniao">
                        <option ng-repeat="option in ReuniaoLista" value="{{option.Codigo}}">
                            {{option.DataReuniao}}
                        </option>
                    </select>
                </span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:right;width:100px;"><label class="control-label" id="labelMneumonico" for="ddlMneumonico">Mneumonico:</label></span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
                <span class="col-form" style="text-align:left;">
                    <select id="ddlMneumonico" style="width:100px;height:30px; border-radius: 5px;" ng-model="item.Mneumonico">
                        <option ng-repeat="Mneumonico in Mneumonicos" value="{{Mneumonico.Valor}}">
                            {{Mneumonico.Valor}}
                        </option>
                    </select>
                </span>
                <span class="col-form" style="width:150px;">
                        <button class="btn btn-danger" ng-click="FiltroChamadas(item)">Filtro Letras</button>
                </span>
                <span class="col-form" style="width:10px;">&nbsp;</span>
            </div>
        </div>
        <table class="table" style="width:980px; margin: 0 auto;">
            <tr class="label-primary table-row">
                <td style="width:100px">ID</td>
                <td style="width:600px">Nome da Mãe</td>
                <td style="width:100px">&nbsp;</td>
                <td style="width:180px">&nbsp;</td>
            </tr>
        </table>
        <div id="divDadosGrid" style="width:980px;  margin: 0 auto;height:368px;overflow-y:auto;">
            <table class="table table-striped" style="width: 960px;">
                <tr ng-repeat="item in itens">
                    <td style="width:100px">{{item.Codigo}}</td>
                    <td style="width:600px">{{item.Nome}}</td>
                    <td style="width:100px"><button class="btn btn-info" ng-click="GravarPresenca(item)">Registrar</button></td>
                    <td> &nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
</div>